Repository WordPress/plugin-check, pull requests merged in 2024-12, with the labels that each got.

#813 Fix PHPCS checks on unwritable filesystems.
  includes/Checker/Checks/Abstract_PHP_CodeSniffer_Check.php
Labels: [Type] Bug

#818 Preferred error type to be singular
  includes/CLI/Plugin_Check_Command.php
  tests/behat/features/plugin-check-severity.feature
Labels: [Type] Bug, Infrastructure

#817 Add version utilities
  includes/Traits/Version_Utils.php
  tests/phpunit/tests/Traits/Version_Utils_Tests.php
Labels: Infrastructure

#822 Change error type of NonEnqueuedImage in `ImageFunctions` sniff
  phpcs-sniffs/PluginCheck/Sniffs/CodeAnalysis/ImageFunctionsSniff.php
  phpcs-sniffs/PluginCheck/Tests/CodeAnalysis/ImageFunctionsUnitTest.php
  tests/phpunit/tests/Checker/Checks/Image_Functions_Check_Tests.php
Labels: [Type] Bug, [Team] Performance

#819 Add check for restricted contributors
  includes/Checker/Checks/Plugin_Repo/Plugin_Readme_Check.php
  tests/phpunit/testdata/plugins/test-plugin-plugin-readme-errors-invalid-name/readme.txt
  tests/phpunit/testdata/plugins/test-plugin-plugin-readme-parser-warnings/readme.txt
  tests/phpunit/tests/Checker/Checks/Plugin_Readme_Check_Tests.php
Labels: [Type] Enhancement, [Team] Plugin Review

#520 Simplify PHPUnit setup
  .distignore
  .github/dependabot.yml
  .github/workflows/behat-test.yml
  .github/workflows/php-lint.yml
  .github/workflows/php-test.yml
  .gitignore
  build-phpunit/composer.json
  composer.json
  composer.lock
  includes/Checker/Preparations/Force_Single_Plugin_Preparation.php
  package.json
  tests/phpunit/bootstrap.php
  tests/phpunit/tests/Checker/Preparations/Force_Single_Plugin_Preparation_Tests.php
Labels: Infrastructure

#828 Update error message for several error codes
  includes/Checker/Checks/Plugin_Repo/File_Type_Check.php
  includes/Checker/Checks/Plugin_Repo/Plugin_Readme_Check.php
Labels: [Type] Enhancement, [Team] Plugin Review

#827 Update error message for `plugin_header_invalid_requires_wp` code
  includes/Checker/Checks/Plugin_Repo/Plugin_Header_Fields_Check.php
  tests/phpunit/tests/Checker/Checks/Plugin_Header_Fields_Check_Tests.php
Labels: [Type] Enhancement, [Team] Plugin Review

#836 Update exclude rule for WP alternative functions sniff
  phpcs-rulesets/plugin-review.xml
  tests/phpunit/testdata/plugins/test-plugin-review-phpcs-errors/load.php
  tests/phpunit/tests/Checker/Checks/Plugin_Review_PHPCS_Check_Tests.php
Labels: [Type] Bug, [Team] Plugin Review

#837 Add sniff rules related to Byte Order Mark and Call-time Pass by Reference
  phpcs-rulesets/plugin-review.xml
  tests/phpunit/testdata/plugins/test-plugin-review-phpcs-errors/file-with-bom.php
  tests/phpunit/testdata/plugins/test-plugin-review-phpcs-errors/load.php
  tests/phpunit/tests/Checker/Checks/Plugin_Review_PHPCS_Check_Tests.php
Labels: [Type] Enhancement, [Team] Plugin Review

#840 Duplicated message for file type check
  includes/Checker/Checks/Plugin_Repo/File_Type_Check.php
  tests/behat/features/plugin-check.feature
Labels: [Type] Bug, [Team] Plugin Review

#838 Add file related functions in the exclusion list of alternative functions rule
  phpcs-rulesets/plugin-review.xml
  tests/phpunit/testdata/plugins/test-plugin-review-phpcs-errors/load.php
  tests/phpunit/tests/Checker/Checks/Plugin_Review_PHPCS_Check_Tests.php
Labels: [Type] Enhancement, [Team] Plugin Review

#839 Unique error code for each missing readme headers
  includes/Checker/Checks/Plugin_Repo/Plugin_Readme_Check.php
  tests/phpunit/testdata/plugins/test-plugin-plugin-readme-errors-upgrade-notice/readme.txt
  tests/phpunit/tests/Checker/Checks/Plugin_Readme_Check_Tests.php
Labels: [Type] Enhancement, [Team] Plugin Review

#844 Update severity for i18n codes
  includes/Checker/Checks/General/I18n_Usage_Check.php
  tests/behat/features/plugin-check.feature
Labels: [Type] Enhancement, [Team] Plugin Review
