Repository WordPress/plugin-check, pull requests merged in 2024-11, with the labels that each got.

#765 Use untranslated Plugin Name for comparison
  composer.json
  composer.lock
  includes/Checker/Checks/Plugin_Repo/Plugin_Readme_Check.php
  tests/behat/features/plugin-check.feature
Labels: [Type] Bug, [Team] Plugin Review

#715 Check including libraries already in wp core including jquery
  .distignore
  .gitattributes
  .typos.toml
  includes/Checker/Checks/Plugin_Repo/File_Type_Check.php
  tests/phpunit/testdata/plugins/test-plugin-file-type-library-core-errors/PHPMailer.php
  tests/phpunit/testdata/plugins/test-plugin-file-type-library-core-errors/jquery.js
  tests/phpunit/testdata/plugins/test-plugin-file-type-library-core-errors/load.php
  tests/phpunit/tests/Checker/Checks/File_Type_Check_Tests.php
Labels: [Type] Enhancement, [Team] Plugin Review

#768 Always use prefixed tables during runtime check requests
  includes/Admin/Admin_AJAX.php
  includes/Checker/Abstract_Check_Runner.php
  includes/Checker/Preparations/Universal_Runtime_Preparation.php
  includes/Checker/Preparations/Use_Custom_DB_Tables_Preparation.php
  includes/Checker/Runtime_Environment_Setup.php
  tests/phpunit/tests/Checker/AJAX_Runner_Tests.php
  tests/phpunit/tests/Checker/CLI_Runner_Tests.php
  tests/phpunit/tests/Utilities/Plugin_Request_Utility_Tests.php
  tests/phpunit/utils/TestCase/Runtime_Check_UnitTestCase.php
Labels: [Type] Bug, Infrastructure, WP Admin, WP-CLI, php

#752 Update check for `Contributors` in markdown readme
  includes/Checker/Checks/Plugin_Repo/Plugin_Readme_Check.php
  tests/behat/features/plugin-check.feature
Labels: [Type] Bug, [Team] Plugin Review

#772 Change error type for License check error codes
  includes/Checker/Checks/Plugin_Repo/Plugin_Readme_Check.php
  tests/phpunit/tests/Checker/Checks/Plugin_Readme_Check_Tests.php
Labels: [Type] Enhancement, [Team] Plugin Review

#777 Add documentation link for i18n check results
  includes/Checker/Checks/General/I18n_Usage_Check.php
Labels: [Type] Documentation

#775 Add separate license error codes for Plugin Header
  includes/Checker/Checks/Plugin_Repo/Plugin_Header_Fields_Check.php
  includes/Checker/Checks/Plugin_Repo/Plugin_Readme_Check.php
  tests/phpunit/testdata/plugins/test-plugin-header-fields-with-errors/load.php
  tests/phpunit/tests/Checker/Checks/Plugin_Header_Fields_Check_Tests.php
  tests/phpunit/tests/Checker/Checks/Plugin_Readme_Check_Tests.php
Labels: [Type] Enhancement, [Team] Plugin Review

#776 Add unit tests for License_Utils
  tests/phpunit/tests/Traits/License_Utils_Tests.php
Labels: [Team] Plugin Review, Testing

#696 CLI: Treat errors below severity threshold as warnings
  includes/CLI/Plugin_Check_Command.php
  tests/behat/features/plugin-check-severity.feature
Labels: WP-CLI

#785 Ensure runtime environment is set up before testing `Universal_Runtime_Preparation`
  tests/phpunit/tests/Checker/Preparations/Universal_Runtime_Preparation_Tests.php
  tests/phpunit/tests/Utilities/Plugin_Request_Utility_Tests.php
Labels: [Type] Bug, Infrastructure, Testing

#680 Added Trademarks check with acronym allowed
  includes/Checker/Checks/Plugin_Repo/Trademarks_Check.php
  tests/phpunit/testdata/plugins/test-trademarks-plugin-header-acronym/load.php
  tests/phpunit/tests/Checker/Checks/Trademarks_Check_Tests.php
Labels: [Team] Plugin Review

#801 Update @wordpress/env
  package-lock.json
  package.json
  patches/@wordpress+env+10.12.0.patch
Labels: dependencies, javascript

#782 Add documentation link for late escaping check results
  includes/Checker/Checks/Security/Late_Escaping_Check.php
Labels: [Type] Documentation

#800 Disallow usage of HEREDOC and NOWDOC
  phpcs-rulesets/plugin-review.xml
  tests/phpunit/testdata/plugins/test-plugin-review-phpcs-errors/load.php
  tests/phpunit/tests/Checker/Checks/Plugin_Review_PHPCS_Check_Tests.php
Labels: [Type] Enhancement, [Team] Plugin Review

#787 Add sniff for required function parameter
  phpcs-rulesets/plugin-review.xml
  phpcs-sniffs/PluginCheck/Sniffs/CodeAnalysis/RequiredFunctionParametersSniff.php
  phpcs-sniffs/PluginCheck/Tests/CodeAnalysis/RequiredFunctionParametersUnitTest.inc
  phpcs-sniffs/PluginCheck/Tests/CodeAnalysis/RequiredFunctionParametersUnitTest.php
  phpcs-sniffs/PluginCheck/ruleset.xml
  tests/phpunit/testdata/plugins/test-plugin-review-phpcs-errors/load.php
  tests/phpunit/tests/Checker/Checks/Plugin_Review_PHPCS_Check_Tests.php
Labels: [Type] Enhancement, [Team] Plugin Review

#790 Add linter for sniffs
  .github/workflows/php-lint.yml
  phpcs-sniffs/PluginCheck/Sniffs/CodeAnalysis/LocalhostSniff.php
Labels: Infrastructure, Testing

#808 Validate donate link
  includes/Checker/Checks/Plugin_Repo/Plugin_Readme_Check.php
  tests/phpunit/testdata/plugins/test-plugin-plugin-readme-md-with-errors/readme.md
  tests/phpunit/tests/Checker/Checks/Plugin_Readme_Check_Tests.php
Labels: [Type] Enhancement, [Team] Plugin Review

#812 Update readme parser to latest master version
  composer.json
  composer.lock
  includes/Checker/Checks/Plugin_Repo/Plugin_Readme_Check.php
Labels: Infrastructure

#811 Update disallowed domains for Plugin URI check
  includes/Checker/Checks/Plugin_Repo/Plugin_Header_Fields_Check.php
Labels: [Type] Enhancement, [Team] Plugin Review
