Repository WordPress/plugin-check, pull requests merged in 2024-10, with the labels that each got.

#677 Fix responsive table results
  assets/css/plugin-check-admin.css
  includes/Admin/Admin_Page.php
  templates/admin-page.php
  templates/results-row.php
Labels: WP Admin

#699 Increase severity for rulesets
  phpcs-rulesets/plugin-review.xml
Labels: [Type] Enhancement, [Team] Plugin Review

#629 Look for badly named files
  includes/Checker/Checks/Plugin_Repo/File_Type_Check.php
  tests/phpunit/testdata/plugins/test-plugin-file-type-badly-named-files-errors/badly directory/file.php
  tests/phpunit/testdata/plugins/test-plugin-file-type-badly-named-files-errors/badly|file%name!@#$%^&*()+=[]{};:"'<>,?|`~.php
  tests/phpunit/testdata/plugins/test-plugin-file-type-badly-named-files-errors/load.php
  tests/phpunit/testdata/plugins/test-plugin-file-type-badly-named-files-errors/plugin name.php
  tests/phpunit/tests/Checker/Checks/File_Type_Check_Tests.php
Labels: [Type] Enhancement, [Team] Plugin Review

#716 Don't flag Apache license
  includes/Checker/Checks/Plugin_Repo/Plugin_Readme_Check.php
Labels: [Type] Bug, Checks

#720 Restricted Headers: remove ones that are allowed, but leave the mech for checking in place for future use
  includes/Checker/Checks/Plugin_Repo/Plugin_Header_Fields_Check.php
  tests/phpunit/tests/Checker/Checks/Plugin_Header_Fields_Check_Tests.php
Labels: [Type] Bug, Checks, [Team] Plugin Review

#722 Modifies i18n_usage check to consider explicit default textdomain usage a warning
  includes/Checker/Checks/General/I18n_Usage_Check.php
  tests/phpunit/testdata/plugins/test-plugin-i18n-usage-with-default/load.php
  tests/phpunit/tests/Checker/Checks/I18n_Usage_Check_Tests.php
Labels: [Type] Bug, Checks, [Team] Plugin Review

#738 Add `checks.md` in docs
  docs/README.md
  docs/checks.md
Labels: [Type] Documentation

#729 Convert readme check warnings `no_plugin_readme` and `default_readme_text` to errors
  includes/Checker/Checks/Plugin_Repo/Plugin_Readme_Check.php
  tests/behat/features/plugin-check-severity.feature
  tests/behat/features/plugin-check.feature
  tests/phpunit/tests/Checker/Checks/Plugin_Readme_Check_Tests.php
Labels: [Type] Enhancement, [Team] Plugin Review

#735 Increase Code obfuscation checks severity
  includes/Checker/Checks/Plugin_Repo/Code_Obfuscation_Check.php
  tests/behat/features/plugin-check-severity.feature
Labels: [Type] Enhancement, [Team] Plugin Review

#742 Update release doc with check lists
  docs/releasing.md
Labels: [Type] Documentation

#724 Add WP discouraged functions rule
  phpcs-rulesets/plugin-review.xml
  tests/phpunit/testdata/plugins/test-plugin-review-phpcs-errors/load.php
  tests/phpunit/tests/Checker/Checks/Plugin_Review_PHPCS_Check_Tests.php
Labels: [Type] Enhancement, [Team] Plugin Review

#743 Add localhost sniff
  includes/Checker/Checks/Plugin_Repo/Localhost_Check.php
  phpcs-sniffs/PluginCheck/Sniffs/CodeAnalysis/LocalhostSniff.php
  phpcs-sniffs/PluginCheck/Tests/CodeAnalysis/LocalhostUnitTest.inc
  phpcs-sniffs/PluginCheck/Tests/CodeAnalysis/LocalhostUnitTest.php
  phpcs-sniffs/PluginCheck/ruleset.xml
  tests/phpunit/tests/Checker/Checks/Localhost_Check_Tests.php
Labels: [Type] Enhancement, [Team] Plugin Review

#749 CLI: Fix confusing runtime environment setup order
  includes/CLI/Plugin_Check_Command.php
  includes/Checker/Abstract_Check_Runner.php
  includes/Checker/CLI_Runner.php
  includes/Checker/Runtime_Environment_Setup.php
  tests/behat/features/plugin-check.feature
Labels: [Type] Enhancement, Infrastructure, WP-CLI

#751 Fix addon checks not being executed when running runtime checks
  includes/Checker/Default_Check_Repository.php
  tests/behat/features/plugin-check.feature
Labels: [Type] Bug, WP Admin, WP-CLI

#754 Implement gherkin linter in GH action
  .distignore
  .gherkin-lintignore
  .gherkin-lintrc
  .gitattributes
  .github/workflows/gherkin-lint.yml
  package-lock.json
  package.json
  tests/behat/features/plugin-check.feature
Labels: Infrastructure, Testing

#755 Added support for MPL-2.0 SPDX license. Fixes #719
  includes/Checker/Checks/Plugin_Repo/Plugin_Readme_Check.php
  tests/phpunit/testdata/plugins/test-plugin-plugin-readme-mpl1-license-with-errors/load.php
  tests/phpunit/testdata/plugins/test-plugin-plugin-readme-mpl1-license-with-errors/readme.txt
  tests/phpunit/testdata/plugins/test-plugin-plugin-readme-mpl2-license-without-errors/load.php
  tests/phpunit/testdata/plugins/test-plugin-plugin-readme-mpl2-license-without-errors/readme.txt
  tests/phpunit/tests/Checker/Checks/Plugin_Readme_Check_Tests.php
Labels: [Type] Enhancement, [Team] Plugin Review
