Repository WordPress/plugin-check, pull requests merged in 2025-01, with the labels that each got.

#779 Fix incorrect tested up to comparison
  includes/Checker/Checks/Plugin_Repo/Plugin_Readme_Check.php
  tests/phpunit/testdata/plugins/test-plugin-plugin-readme-md-with-errors/readme.md
Labels: [Type] Enhancement, [Team] Plugin Review

#711 Added check for case sensitive duplicated file names
  includes/Checker/Checks/Plugin_Repo/File_Type_Check.php
  tests/phpunit/tests/Checker/Checks/File_Type_Check_Tests.php
Labels: Needs Testing

#853 Fix order of cleanup actions in PHP unit tests
  tests/phpunit/tests/Checker/Checks/Plugin_Header_Fields_Check_Tests.php
  tests/phpunit/tests/Checker/Checks/Plugin_Readme_Check_Tests.php
  tests/phpunit/tests/Utilities/Plugin_Request_Utility_Tests.php
Labels: [Type] Enhancement, Testing

#855 Implement Version Utils in readme check
  includes/Checker/Checks/Plugin_Repo/Plugin_Readme_Check.php
  tests/phpunit/tests/Checker/Checks/Plugin_Readme_Check_Tests.php
Labels: [Type] Enhancement, [Team] Plugin Review

#856 Introduce `--ignore-codes` in CLI
  docs/CLI.md
  includes/CLI/Plugin_Check_Command.php
  tests/behat/features/plugin-check.feature
Labels: [Type] Enhancement, WP-CLI

#862 Allow ISC license in Plugin Header
  includes/Traits/License_Utils.php
  tests/phpunit/tests/Traits/License_Utils_Tests.php
Labels: [Type] Bug, [Team] Plugin Review
